WebSocketDemoForIOS.xcodeproj/project.xcworkspace/xcuserdata/afunx.xcuserdatad/UserInterfaceState.xcuserstate
WebSocketDemoForIOS.xcodeproj/project.xcworkspace/xcshareddata/WebSocketDemoForIOS.xccheckout
